@model UserInfo
@{
  ViewBag.Title = "Toplantı Katılım Formu";
}
<h1 class="h4 text-center">Toplantı Katılım Formu</h1>
<form method="post" action="/Meeting/Apply" novalidate>
  <div asp-validation-summary="All"></div>
  <div class="mb-3">
    <label class="form-label" asp-for="Name">Name</label>
    <input class="form-control" asp-for="Name">
  </div>
  <div class="mb-3">
    <label class="form-label" asp-for="Phone">Telefon</label>
    <input class="form-control" asp-for="Phone">
  </div>
  <div class="mb-3">
    <label class="form-label" asp-for="Email">Email</label>
    <input class="form-control" asp-for="Email">
  </div>
  <div class="mb-3">
    <label class="form-label" asp-for="WillAttend">Katılım Durumu</label>
    <select class="form-select  " asp-for="WillAttend">
      <option value="false">Seçiniz</option>
      <option value="true">Katılıyorum</option>
      <option value="false">Katılmıyorum</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Kaydet</button>
</form>